
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

app-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}



.col-1 {
  width: 8.33%;
  box-sizing: border-box;
  padding-right: 0.8%;
}

.col-2 {
  width: 16.66%;
  box-sizing: border-box;
  padding-right: 0.8%;
}

.col-3 {
  width: 25%;
  box-sizing: border-box;
  padding-right: 0.8%;
}

.col-4 {
  width: 33.33%;
  box-sizing: border-box;
  padding-right: 0.8%;
}

.col-5 {
  width: 41.66%;
  box-sizing: border-box;
  padding-right: 0.8%;
}

.col-6 {
  width: 50%;
  box-sizing: border-box;
  padding-right: 0.8%;
  ;
}

.col-7 {
  width: 58.33%;
  box-sizing: border-box;
  padding-right: 0.8%;
}

.col-8 {
  width: 66.66%;
  box-sizing: border-box;
  padding-right: 0.8%;
}

.col-9 {
  width: 75%;
  box-sizing: border-box;
  padding-right: 0.8%;
}

.col-10 {
  width: 83.33%;
  box-sizing: border-box;
  padding-right: 0.8%;
}

.col-11 {
  width: 91.66%;
  box-sizing: border-box;
  padding-right: 0.8%;
}

.col-12 {
  width: 100%;
  box-sizing: border-box;
  padding-right: 0.8%;
}
.col-1 {
  width: 8.33%;
  box-sizing: border-box;
  padding-right: 0.8%;
}

.col-2 {
  width: 16.66%;
  box-sizing: border-box;
  padding-right: 0.8%;
}

.col-3 {
  width: 25%;
  box-sizing: border-box;
  padding-right: 0.8%;
}

.col-4 {
  width: 33.33%;
  box-sizing: border-box;
  padding-right: 0.8%;
}

.col-5 {
  width: 41.66%;
  box-sizing: border-box;
  padding-right: 0.8%;
}

.col-6 {
  width: 50%;
  box-sizing: border-box;
  padding-right: 0.8%;
  ;
}

.col-7 {
  width: 58.33%;
  box-sizing: border-box;
  padding-right: 0.8%;
}

.col-8 {
  width: 66.66%;
  box-sizing: border-box;
  padding-right: 0.8%;
}

.col-9 {
  width: 75%;
  box-sizing: border-box;
  padding-right: 0.8%;
}

.col-10 {
  width: 83.33%;
  box-sizing: border-box;
  padding-right: 0.8%;
}

.col-11 {
  width: 91.66%;
  box-sizing: border-box;
  padding-right: 0.8%;
}

.col-12 {
  width: 100%;
  box-sizing: border-box;
  padding-right: 0.8%;
}



:root {
  --primary-color: #0c0d13;
  --secondary-color:    #FFFFFF;
  --terciary-color:   #af2d6a;
}


.botao-primario {
  background-color: white;
  color: var(--terciary-color);
  border-color: var(--terciary-color);
  border-radius: 10px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  transition: all ease 0.2s;
  &:hover {
    border-color: var(--primary-color);
    color: var(--primary-color);
    scale: 1.01;
  }
}

.botao-secundario {
  background-color: white;
  color: var(--primary-color);
  border-color: var(--primary-color);
  border-radius: 10px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  transition: all ease 0.2s;
  &:hover {
    scale: 1.01;
  }
}

.formulario {
  mat-form-field {
    .mat-mdc-text-field-wrapper {
      padding-right: 10px !important;
    }

    .mat-mdc-icon-button {
      color: var(--secondary-color);
    }

    .mdc-notched-outline {
      border-radius: 8px !important;

      .mdc-notched-outline__leading {
        border-radius: 8px 0 0 8px;
        border-color: var(--secondary-color);
      }

      .mdc-notched-outline__notch {
        border-color: var(--secondary-color);
      }

      .mdc-notched-outline__trailing {
        border-radius: 0 8px 8px 0;
        border-color: var(--secondary-color);
      }

    }

    .mdc-text-field--outlined.mdc-text-field--disabled .mdc-text-field__input {
      color: #8C8B8B;
    }

    .mdc-text-field--disabled {
      .mdc-notched-outline {
        border-radius: 8px !important;
        background-color: #E7E7E7;
        z-index: -10;
      }

    }

  }
}
