<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
<div id="body">
  <div class="book-spec">
    <div class="book-cover-container">
      <img [src]="anuncio?.imagem || '../../../assets/images/bookCap.png'" alt="Capa do livro" class="book-cover-img" />
      <div class="media"><h1>{{this.avaliacaoMedia}}</h1></div>
    </div>
    <div class="spec">
      <span>
        <h1>{{ anuncio?.titulo }}</h1>
        @if(anuncio?.usuarioId === userId) {
  <img class="edit" (click)="redirectEditAnouncement(anuncio?.id)" src="../../../assets/icons/edit.svg" alt="" [appLoading]="isDeletingAnuncio">
  <img class="trash" (click)="deleteAnuncio(anuncio?.id)" src="../../../assets/icons/trash.svg" alt="" [appLoading]="isDeletingAnuncio">
        }
      </span>
      <p>Autor: {{ anuncio?.autor }}</p>
      <p>Ano: {{ anuncio?.ano }}</p>
      <p>Editora: {{anuncio?.editora}}</p>
      <p>Descrição: {{ anuncio?.descricao }}</p>
      <p>Condição: {{anuncio?.condicao}}</p>
      <p>Gêneros:</p>
      <mat-chip-set>
        <mat-chip>{{ anuncio?.genero }}</mat-chip>
      </mat-chip-set>
      <span>
        @if (anuncio?.tipo === "VENDA") {
        <h2>R$ {{anuncio?.preco}}</h2>
        }
        <div class="rate">
          <input type="radio" id="star5" name="rate" value="5" (change)="onRateChange($event)" />
          <label for="star5" title="text">5 stars</label>
          <input type="radio" id="star4" name="rate" value="4" (change)="onRateChange($event)" />
          <label for="star4" title="text">4 stars</label>
          <input type="radio" id="star3" name="rate" value="3" (change)="onRateChange($event)" />
          <label for="star3" title="text">3 stars</label>
          <input type="radio" id="star2" name="rate" value="2" (change)="onRateChange($event)" />
          <label for="star2" title="text">2 stars</label>
          <input type="radio" id="star1" name="rate" value="1" (change)="onRateChange($event)" />
          <label for="star1" title="text">1 star</label>
        </div>
      </span>

    </div>
  </div>

  <form [formGroup]="commentForm">
    <mat-form-field class="col-12 input" appearance="outline" style="padding-right: 0px;">
      <mat-label style="color: #8c8b8b">Comentário</mat-label>
      <input matInput formControlName="texto" autocomplete="off" />
    </mat-form-field>

  <button class="botao-terciario" (click)="addComment()" [appLoading]="isAddingComment">Adicionar Comentário</button>
  </form>

  <div class="comments">
    <h1>Comentários</h1>

    <div class="dialog-box">
      <div class="no-comment" *ngIf="comments.length === 0">
        <p>Seja o primeiro a comentar!</p>
      </div>
      @for (comment of comments; track comment.id) {
      <div class="comment">
        <div class="info">
          <small>por {{ comment.usuario?.nome || 'Usuário' }}</small>
          <p>{{ comment.texto }}</p>
        </div>
        @if (comment.usuarioId === userId) {
  <img class="trash" (click)="deleteComment(comment.id)" src="../../../assets/icons/trash.svg" alt="" [appLoading]="isDeletingCommentId === comment.id">
        }
      </div>

      }
    </div>
  </div>
</div>
